<div class="login-wrapper row">
  <form class="col-sm-12 col-md-6 col-lg-4 login">
    <label class="title">
      <!-- <img src="../../../assets/img/tareffa.png" alt="Tareffa" style="width:100%;"> -->
    </label>
    <div class="login-group align-self-center w-100" style="max-width: 380px">
      <div>
        <mat-form-field class="w-100 f14">
          <input matInput name="username" [(ngModel)]="username" type="text" placeholder="Email" required />
        </mat-form-field>
      </div>
      <div class="pb-4">
        <mat-form-field class="w-100 f14">
          <input matInput name="password" [(ngModel)]="password" type="password" placeholder="Senha" required />
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" class="bg-primary text-light w-100" (click)="login()">
        <span *ngIf="isLoading">
          <i class="fas fa-spinner fa-spin"></i>
        </span>
        <small>&nbsp;&nbsp;Entrar</small>
      </button>
      <br><br>
      <div *ngIf="hasException" class="error inactive" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ exception.message }}
      </div>
    </div>
  </form>
  <div class="marketing col-0 col-md-6 col-lg-8"></div>
</div>