<div class="chat-wrapper d-flex flex-column h-100">

  <div class="chat-header container-fluid m-0 p-0 border">
    <div class="d-flex row m-0 px-4 py-3 h-100">
      <div class="d-flex align-items-center flex-grow-1">
        <span class="col-md-10" *ngIf="chat.subject != ''" [title]="chat.subject">
          {{ chat.subject }}
        </span>
      </div>
      <div class="d-flex align-items-center">
        <div *ngIf="chat.subject != ''">
          <label class="text-dark font-weight-light m-0 p-0" matTooltip="Mais Opções" [matTooltipPosition]="'above'">
            <button class="btn btn-link text-dark w-100 m-0 p-0" [matMenuTriggerFor]="menu">
              <i class="fas fa-ellipsis-v" data-fa-transform="shrink-2"></i>
            </button>
          </label>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="transferirConversa()">
              <mat-icon class="fas fa-exchange-alt text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Transferir Conversa</small>
            </button>
            <button mat-menu-item (click)="adicionarContatoNaConversa()">
              <mat-icon class="fas fa-plus text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Adicionar Contato a Conversa</small>
            </button>
            <button mat-menu-item (click)="finalizarConversa()">
              <mat-icon class="fas fa-times text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Finalizar Conversa</small>
            </button>
            <!-- <button mat-menu-item (click)="informacoesConversa()">&nbsp;
                  <mat-icon class="fas fa-info text-dark"
                    data-fa-transform="shrink-6"></mat-icon>
                  <small>Informações da Conversa</small>
                </button> -->
            <button mat-menu-item (click)="openModalInfoSala()">&nbsp;
              <mat-icon class="fas fa-info text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Informações da Conversa</small>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider *ngIf="chat.id"></mat-divider>
  </div>

  <div #scrollContent class="chat-messages-list d-flex flex-column flex-grow-1 bg-light px-4 py-2 overflow-auto">
    <div #messagesListContainer *ngFor="let message of messages; let i = index" class="m-0 mb-1">

      <div class="col-12 h-100 text-center">
        <div class="date-bubble m-0" *ngIf="shouldPlaceTimestampBubble(i-1, i, messages[i-1], message)">
          <small class="text-muted">{{ message.updatedAt | date: 'dd/MM/yyyy' }}</small>
        </div>
      </div>

      <div class="col-12 h-100 text-center">
        <div class="date-bubble m-0 mt-1" *ngIf="message.type === 3">
          <small class="text-muted" [innerHTML]="message.content"></small>
          <small class="text-muted"> {{ message.updatedAt | date:'HH:mm' }} </small>
        </div>
      </div>

      <div *ngIf="message.contact.id == currentUser.contact.id && message.type !== 3" class="col-12 px-2 py-1 w-100 h-100 bubble text-right">
        <div class="right-bubble d-inline-block m-0 px-2">

          <div *ngIf="i-1 >= 0 ? messages[i-1].contact.id != message.contact.id || messages[i-1].type == 3: true" class="bubble-title">
            <strong class="float-left"> {{ message.contact.shortDescription }} </strong>
          </div>

          <div class="bubble-message d-flex align-items-center py-1">
            <p class="d-flex flex-grow-1 align-self-end float-left m-0 text-wrap" [innerHTML]="message.content"></p>
            <div class="d-flex align-self-end float-right">
              <small class="message-timestamp mx-2 float-right text-muted">
                {{ message.updatedAt | date:'HH:mm' }}
              </small>
              <small *ngIf="message.status == 0" class="message-status">
                <i class="far fa-clock text-muted" data-fa-transform="shrink-2"></i>
              </small>
              <small *ngIf="message.status == 1" class="message-status">
                <i class="fas fa-check text-muted" data-fa-transform="shrink-2"></i>
              </small>
              <small *ngIf="message.status == 2" class="message-status">
                <i class="fas fa-check-double text-muted" data-fa-transform="shrink-2"></i>
              </small>
              <small *ngIf="message.status == 3" class="message-status">
                <i class="fas fa-check-double text-primary" data-fa-transform="shrink-2"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="message.contact.id != currentUser.contact.id && message.type !== 3" class="container-fluid m-0 py-1 px-2 w-100 bubble text-left">
        <div class="left-bubble d-inline-block m-0 px-2">
          <div *ngIf="i-1 >= 0 ? messages[i-1].contact.id != message.contact.id || messages[i-1].type == 3: true" class="bubble-title">
            <strong class="float-left"> {{ message.contact.shortDescription }} </strong>
          </div>
          <div class="bubble-message d-flex align-items-center py-1">
            <p class="d-flex flex-grow-1 align-self-end float-left m-0 text-wrap" [innerHTML]="message.content"></p>
            <div class="d-flex align-self-end float-right">
              <small class="message-timestamp mx-2 float-right text-muted">
                {{ message.updatedAt | date:'HH:mm' }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-message-composer">
    <input [(ngModel)]="content" (keyup.enter)="send(content)" placeholder="Escreva a mensagem">
    <button class="btn btn-link border-0" (click)="send(content)" matTooltip="Enviar Mensagem">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>