<div style="display:flex;flex-flow: column;">
  <div class="container-fluid m-0 p-0">
    <div class="row m-0 p-3 border">
      <div class="col-10">
        <span class="col-md-10" *ngIf="chat.subject != ''" [title]="chat.subject">
          {{ chat.subject }}
        </span>
      </div>
      <div class="col-2">
        <div *ngIf="chat.subject != ''">
          <label class="text-dark font-weight-light m-0 p-0" matTooltip="Mais Opções" [matTooltipPosition]="'above'">
            <button class="btn btn-link text-dark w-100 m-0 p-0" [matMenuTriggerFor]="menu">
              <i class="fas fa-ellipsis-v" data-fa-transform="shrink-2"></i>
            </button>
          </label>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="transferirConversa()">
              <mat-icon class="fas fa-exchange-alt text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Transferir Conversa</small>
            </button>
            <button mat-menu-item (click)="adicionarContatoNaConversa()">
              <mat-icon class="fas fa-plus text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Adicionar Contato a Conversa</small>
            </button>
            <button mat-menu-item (click)="finalizarConversa()">
              <mat-icon class="fas fa-times text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Finalizar Conversa</small>
            </button>
            <!-- <button mat-menu-item (click)="informacoesConversa()">&nbsp;
                  <mat-icon class="fas fa-info text-dark"
                    data-fa-transform="shrink-6"></mat-icon>
                  <small>Informações da Conversa</small>
                </button> -->
            <button mat-menu-item (click)="openModalInfoSala()">&nbsp;
              <mat-icon class="fas fa-info text-dark" data-fa-transform="shrink-6"></mat-icon>
              <small>Informações da Conversa</small>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider *ngIf="chat.id"></mat-divider>
  </div>

  <!-- <div #scrollContent *ngIf="chat.id && informacoes === false && archive == null || archive == 'undefined'" class="chat-content"
    style="margin-bottom: 50px;">
    <div #messages *ngFor="let message of _messages; let i = index">

      <div class="row m-0">
        <div class="col-12 text-center">
          <div class="m-0 date-bubble" *ngIf="shouldPlaceTimestampBubble(i-1, i, _messages[i-1], message)">
            {{ message.updatedAt | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="col-12 text-center">
          <div class="m-0 mt-1 date-bubble" *ngIf="message.type === 3">
            <p [innerHTML]="message.content"></p>
            <span class="message-timestamp float-right">
              {{ message.updatedAt | date:'HH:mm' }}
            </span>
          </div>
        </div>
        <div class="container-fluid py-1 px-2 w-100 bubble text-right" *ngIf="message.contact.id === user.contact.id && message.type !== 3">
          <div class="right-bubble m-0" style="display:inline-block;">
            <div *ngIf="i-1 >= 0 ? _messages[i-1].contact.id != message.contact.id 
            || _messages[i-1].type == 3: true"
              class="bubble-title">
              <span class="msg-name float-left">
                {{ message.contact.shortDescription }}
              </span>
            </div>
            <div class="bubble-message">
              <p class="float-left text-wrap" [innerHTML]="message.content"></p>
              <div class="bubble-details float-right">
                <span class="message-timestamp float-right">
                  {{ message.updatedAt | date:'HH:mm' }}
                </span>
                <span *ngIf="message.status == 0" class="message-status">
                  <i class="far fa-clock text-dark f10"></i>
                </span>
                <span *ngIf="message.status == 1" class="message-status">
                  <i class="fas fa-check text-dark f10"></i>
                </span>
                <span *ngIf="message.status == 2" class="message-status">
                  <i class="fas fa-check-double text-dark f10"></i>
                </span>
                <span *ngIf="message.status == 3" class="message-status">
                  <i style="color: #EA4D7E !important;" class="fas fa-check-double text-secondary f10"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid m-0 py-1 px-2 w-100 bubble text-left" *ngIf="message.contact.id !== user.contact.id && message.type !== 3">
          <div class="left-bubble">
            <div *ngIf="i-1 >= 0 ? _messages[i-1].contact.id != message.contact.id 
              || _messages[i-1].type == 3: true"
              class="bubble-title">
              <span class="msg-name float-left">
                {{message.contact.shortDescription}}
              </span>
            </div>
            <div class="bubble-message">
              <p class="float-left text-wrap" [innerHTML]="message.content"></p>
              <div class="bubble-details float-right">
                <span class="message-timestamp float-right">
                  {{ message.updatedAt | date:'HH:mm' }}
                </span>
                <span class="msg-name" style="padding: 0px 2px 0px 12px">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="message-composer">
    <input [(ngModel)]="content" (keyup.enter)="send(content)" placeholder="Escreva a mensagem">
    <button class="btn btn-link border-0" (click)="send(content)" matTooltip="Enviar Mensagem">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>