.page-content {
  height: 100vh;
  padding: 0px;
  width: 100%;
  margin: 0px;
  margin-top: 64px;
  overflow: auto;
}

.chats-list-container {
  height: calc(100vh - 64px);
  overflow: auto;
}

.chat-view-container {
  height: calc(100vh - 64px);
  overflow: auto;
}
